*.pyc
*.jpg
*.eps
*.csv
*.xml
*.log
*.awes
*.p
*.awe
.idea/
*.c
.pytest_cache/
build/
.history/
*.rst
*.pkl
.vscode/
*.aux
*.fdb_latexmk
*.fls
*.out
*.nav
*.snm
*.toc
*.pdf
*.pytxcode
*.gz
figures/
*.pytxmcr
*.pytxpyg
*.auxlock
*.bbl
*.blg
*.dvi
