.eggs/
dist/
tunempc.egg-info/

# python
*.pyc

# output files
*.jpg
*.png
*.eps
*.csv
*.xml
*.log
*.p
.idea/
*.c
.pytest_cache/
build/
.history/
*.rst
*.pkl
.vscode/

# tex
*.aux
*.fdb_latexmk
*.fls
*.out
*.nav
*.snm
*.toc
*.pdf
*.pytxcode
*.gz
figures/
*.pytxmcr
*.pytxpyg
*.auxlock
*.bbl
*.blg
*.dvi

# acados
*.json
c_generated_code/
