[submodule "external/acados"]
	path = external/acados
	url = https://github.com/jdeschut/acados
[submodule "examples/awe_system/awebox"]
	path = external/awebox
	url = https://github.com/awebox/awebox.git
